name: PR to master
on:
  pull_request:
    branches:
      - master
jobs:
  test:
    name: PR to master
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.base.sha }}

      - uses: madhead/read-java-property@master
        id: base-version
        with:
          file: gradle.properties
          property: version
          default: 0.0.0

      - uses: actions/checkout@v2

      - uses: madhead/read-java-property@master
        id: new-version
        with:
          file: gradle.properties
          property: version
          default: 0.0.0

      - uses: madhead/semver-utils@latest
        id: comparison
        with:
          version: ${{ steps.new-version.outputs.value }}
          compare-to: ${{ steps.base-version.outputs.value }}

      - run: '[[ ">" == "${{ steps.comparison.outputs.comparison-result }}" ]]'
