name: Release

on:
  push:
    branches:
      - master

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: gradle/wrapper-validation-action@v1

      # Default Java from the container is used.
      - uses: gradle/gradle-build-action@v3
        id: java-version
        with:
          arguments: javaVersion

      - uses: madhead/read-java-properties@latest
        id: project-version
        with:
          file: gradle.properties
          property: version

      - uses: madhead/semver-utils@latest
        id: version
        with:
          version: ${{ steps.project-version.outputs.value }}

      - uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: >
            ghcr.io/${{ github.repository }}:${{ steps.version.outputs.major }}.${{ steps.version.outputs.minor }}.${{ steps.version.outputs.patch }},
            ghcr.io/${{ github.repository }}:${{ steps.version.outputs.major }}.${{ steps.version.outputs.minor }},
            ghcr.io/${{ github.repository }}:${{ steps.version.outputs.major }},
            ghcr.io/${{ github.repository }}:latest
          build-args: |
            JAVA=${{ steps.java-version.outputs.java-version }}

      - run: git config user.name "madhead"
      - run: git config user.email "siarhei.krukau@gmail.com"

      - run: git checkout -b release/${{ steps.version.outputs.major }}.${{ steps.version.outputs.minor }}.${{ steps.version.outputs.patch }} ${{ github.sha }}
      - run: sed -i 's/docker:\/\/ghcr\.io\/madhead\/read-java-properties:latest/docker:\/\/ghcr.io\/madhead\/read-java-properties:${{ steps.version.outputs.major }}.${{ steps.version.outputs.minor }}.${{ steps.version.outputs.patch }}/' action.yml
      - run: git add action.yml
      - run: git commit --message '${{ steps.version.outputs.major }}.${{ steps.version.outputs.minor }}.${{ steps.version.outputs.patch }}'
      - run: git tag --force ${{ steps.version.outputs.major }}.${{ steps.version.outputs.minor }}.${{ steps.version.outputs.patch }}

      - run: git checkout -b release/${{ steps.version.outputs.major }}.${{ steps.version.outputs.minor }} ${{ github.sha }}
      - run: sed -i 's/docker:\/\/ghcr\.io\/madhead\/read-java-properties:latest/docker:\/\/ghcr.io\/madhead\/read-java-properties:${{ steps.version.outputs.major }}.${{ steps.version.outputs.minor }}/' action.yml
      - run: git add action.yml
      - run: git commit --message '${{ steps.version.outputs.major }}.${{ steps.version.outputs.minor }}'
      - run: git tag --force ${{ steps.version.outputs.major }}.${{ steps.version.outputs.minor }}

      - run: git checkout -b release/${{ steps.version.outputs.major }} ${{ github.sha }}
      - run: sed -i 's/docker:\/\/ghcr\.io\/madhead\/read-java-properties:latest/docker:\/\/ghcr.io\/madhead\/read-java-properties:${{ steps.version.outputs.major }}/' action.yml
      - run: git add action.yml
      - run: git commit --message '${{ steps.version.outputs.major }}'
      - run: git tag --force ${{ steps.version.outputs.major }}

      - run: git checkout -b release/latest ${{ github.sha }}
      - run: git commit --message 'latest' --allow-empty
      - run: git tag --force latest

      - run: >
          git push origin --force
          release/${{ steps.version.outputs.major }}.${{ steps.version.outputs.minor }}.${{ steps.version.outputs.patch }}
          release/${{ steps.version.outputs.major }}.${{ steps.version.outputs.minor }}
          release/${{ steps.version.outputs.major }}
          release/latest
      - run: git push --force --tags origin
